{% extends 'panelAdmin.html.twig' %}
{% block title %}
{{ parent() }}
{{ titre }}
{% endblock %}

{% block titre %}
{{ titre }}
{% endblock %}


{% block body %}

<link rel="stylesheet" href="{{ asset('css/select2.css') }}">

<div class="pb-5">
	{{form_start(form)}}

	<label for="">Titre</label>
	{{form_row(form.title)}}

	<label for="">Prix</label>
	{{form_row(form.price)}}

	<label for="">Référence</label>
	{{form_row(form.reference)}}

	<label for="">Description</label>
	{{ form_row(form.description, { 'attr':{'placeholder':'Veuillez saisir la description du produit'}}) }}


	<label for="">Photo</label>
	{{form_row(form.picture, {'attr': {'onChange': "loadFile(event)"} })}}
	{# aperçu de l'image #}
	<div class="text-center">
		<img id="image" width="300">
	</div>

	<label for="">Marque</label>
	{{form_row(form.brand)}}

	<label for="">Sous-catégorie</label>
	{{form_row(form.category)}}

	<label for="">Section</label>
	{{form_row(form.gender)}}

	<label for="">Fournisseur</label>
	{{form_widget(form.suppliers)}}
	<div class="col-md-2">
	<label for="">Couleur</label>
	{{form_row(form.colors)}}

	<label for="">Taille</label>
	{{form_row(form.sizes)}}
	</div>
	<div class="mt-4">
		{{form_row(form.Enregistrer)}}
	</div>
	{{form_end(form)}}
</div>

{# fonction js pour l'affichage de l'aperçu de l'image #}
<script>

	var loadFile = function (event) {
		var image = document.getElementById('image');

		image.src = URL.createObjectURL(event.target.files[0]);
	};
</script>

<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/select2.js') }}"></script>
<script>
	$(function () {
		$('.select2').select2()

	})
</script>

{% endblock %}