{% extends 'panelAdmin.html.twig' %}


{% block title %}
{{ parent() }}Liste des commandes
{% endblock %}


{% block titre %}
Liste des commandes
{% endblock %}


{% block body %}

{# CORRECTION #}
<div class="table-responsive text-center">
	<table class="table table-striped table-sm">
		<thead>
			<tr class="bg-primary text-light">
				<th scope="col">ID</th>
				<th scope="col">Date</th>
				<th scope="col">Montant</th>
				<th scope="col">Client</th>
				<th scope="col">Statut</th>
				<th scope="col">Détail</th>
			</tr>
		</thead>
		<tbody>
			{% for order in orders %}
			{% set total=0 %}

			{# CALCUL DU TOTAL #}
			{% for detail in order.details %}
			{% set total= total + detail.quantity * detail.product.price %}
			{% endfor %}
			{# ### #}
			<tr>
				<th scope="row">{{ order.id }}</th>
				<td>{{ order.date | date('d/m/Y') }}</td>

				<td>{{ total | format_currency('EUR')}}</td>
				<td>{{ order.user.lastName }} {{ order.user.firstName }}</td>
				<td>
					{% if order.delivery.status == 0 %} <span class="badge bg-warning rounded-pill">Non traitée</span>
					{% endif %}
					{% if order.delivery.status == 1 %} <span class="badge bg-info rounded-pill">En préparation</span>
					{% endif %}
					{% if order.delivery.status == 2 %} <span class="badge bg-primary rounded-pill">Expédiée</span> {%
					endif %}
					{% if order.delivery.status == 3 %} <span class="badge bg-success rounded-pill">Livré</span> {%
					endif %}
					{% if order.delivery.status == 4 %} <span class="badge bg-danger rounded-pill">Annulé</span> {%
					endif %}
				</td>
				<td><a href="{{ path('detailOrder', {'id': order.id }) }}"
						class="btn btn-sm btn-success rounded"><i class="fas fa-eye"></i> Détail</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>























{# TEST CODE#}

{# <div class="table-responsive">
	<table class="table">
		<thead>
			<tr class="table-dark">
				<th scope="col">ID</th>
				<th scope="col">Date</th>
				<th scope="col">Montant</th>
				<th scope="col">Client</th>
				<th scope="col">Détail</th>
			</tr>
		</thead>
		<tbody>
			{% for oneOrder in orders %}
			{% set total=0 %}

			{% for detail in oneOrder.details %}
			{% set total= total + detail.quantity * detail.product.price %}
			{% endfor %}

			<tr>
				<th scope="row">{{ oneOrder.id }}</th>
				<td>{{ oneOrder.date | date('d/m/Y') }}</td>

				<td>{{ total }} €</td>
				<td>{{ oneOrder.user.lastName }} {{ oneOrder.user.firstName }}</td>
				<td><a href="{{ path('detailOrder', {'id': oneOrder.id }) }}"
						class="btn btn-sm btn-success rounded">Voir
						le Détail</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div> #}




{# ANCIEN CODE#}
{# <div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr class="table-dark">
				<th scope="col">Nom</th>
				<th scope="col">Réf</th>
				<th scope="col">Quantité</th>
				<th scope="col">Prix unitaire</th>
				<th scope="col">Total</th>
				<th scope="col">Produit</th>
				<th scope="col">détail</th>
			</tr>
		</thead>
		<tbody>

			{% for order in orders %}

			<tr>
				<th scope="row">{{order.user.firstName}}</th>
				{% for detail in order.details %}
				<td>{{ detail.product.reference}}</td>
				<td>{{ detail.quantity }}</td>
				<td>{{ detail.product.price | format_currency('EUR')}}</td>
				<td>{{ detail.product.price * detail.quantity }} €</td>
				<td>{{ detail.product.description | slice(0,15) ~ '...' }}</td>
				<td>{{ detail.product.title}}</td>
				{% endfor %}
			</tr>

			{% endfor %}


		</tbody>
	</table>
</div> #}


{% endblock %}